body {
    background-color: blue;
    font-size: 20px;
    color: white;
}

h1{
    color: #333;
    font-size: 5rem;
}

#nombre {
    color: #ec0808;
    font-size: 2rem;
    width: 300px;
    height: 400px;
    background-color: aqua;
    text-align: center;
    display: block;
    margin: auto;
}
.listaparasurtir {
    color: #ec0808;
    font-size: 2rem;
    width: 300px;
    height: 400px;
    background-color: aqua;
    text-align: center;
    display: block;
    margin: auto;
    border: 2px;

}
.listaparasurtir:hover {
    background-color: rgb(0, 139, 12);
}
.listaparasurtir p{
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
}
nav {
    background: #c60a0a;
    padding: 10px;
    margin: 10px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
