body, html {
  background: #fbfbfb;
background: linear-gradient(90deg, rgb(248, 248, 248) 0%, rgba(9, 9, 121, 1) 14%, rgba(0, 212, 255, 1) 100%);
}

h1 {
    background: #192897;
    color: #fefefe;
    padding: 10px 0;
    text-align: center;
}

p {
    padding: 12px 20px;
    border-bottom: 2px solid #f9f9f9;
}