body {
    background-color: black;
    color: bisque;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
.container{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 10px;
    padding: 20px;

}
.item{
    background-color: black;
    border: 2px solid red;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:hover{
    transform: scale(1.05); 
    background-color: red;
    color: black;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
img{
    max-width: 100%;
    height: auto;
}
@media (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .item {
        font-size: 16px;
        padding: 12px;
    }
}