body{
    background-color: bisque;
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 16px;
    padding: 20px;
    grid-template-areas: 
        "header header header"
        "new section article"
        "footer footer footer";
        height: 100vh;
        grid-template-rows: auto 1fr auto;
}

header{
    grid-area: header;
    background-color: rgb(180, 172, 25);
    padding: 1em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

nav{
    grid-area: new;
    background-color: rgb(9, 164, 216);
    padding: 1em;
    text-align: center;
}

footer{
    grid-area: footer;
    background-color: rgb(180, 172, 25);
    padding: 1em;
    text-align: center;
}

article{
    grid-area: article;
    background-color: rgb(216, 9, 9);
    padding: 1em;
    text-align: center;
}

section{
    grid-area: section;
    background-color: rgb(9, 216, 34);
    padding: 1em;
    text-align: center;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "new"
            "section"
            "article"
            "footer";
            grid-template-columns: 1fr;
            grid-template-rows: auto;
    }
}

